language: ruby
rvm:
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - jruby-9.1
  - jruby-9.2
  - jruby-head
  - ruby-head
  - rubinius-3

matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: rubinius-3
  fast_finish: true

branches:
  only:
    - master
